#app_check_container{
    width: 70vh;
    padding: 1em 2em;
    margin: 30px auto;
    color: #00BCD4;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
    text-align: center;
}

button{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    width: 300px;
    color: #FFFFFF;
    background-color: #f79d93;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid #fd837b;
    border-radius: 100vh;
}

button:hover{
    margin-top: 3px;
    border-bottom: 2px solid #fd837b;
}

a{
     text-decoration: none;
    color: #FFFFFF;
}
