#btn_menu{
    width: 70vh;
    padding: 1em 2em;
    margin: 30px auto;
    color: #00BCD4;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
    text-align: center;
}

