
input,textarea{
    font-size: 18px;
    margin: 10px;
}

form{
    width: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#register_btn{
    margin: 30px auto;
}