<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment_View</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cirrus-ui/dist/cirrus.min.css">

</head>
<body>
    <h1>Today's appointments</h1>
    <table>
    <tr>
        <th>Start time</th>
        <th>End time</th>
        <th>Patient</th>
        <th>View Detail</th>
    </tr>
    {% for r in appointments %}
        <tr>
            <td>{{ r[4]}}</td>
            <td>{{ r[5]}}</td>
        {% if r[1]==0 %}
            <td><a class="btn btn-success">No patient</a></td>
            <td><a class="btn btn-success">No Appointment</a></td>
{#            <td><a class="btn btn-success" href="{{ url_for('app_edit', record) }}"></a></td>#}
{#            <td><a class="btn btn-success" href="{{ url_for('') }}"></a></td>#}
        {% else %}
            <td><a class="btn btn-success" href="{{ url_for('patient_detail', patient_id=r[1])}}">{{ r[6] }}</a></td>
            <td><a class="btn btn-success" href="{{ url_for('record_detail', record_id=r[2], patient_id=r[1]) }}">Detail</a></td>
            <td><a class="btn btn-success" href="{{ url_for('app_edit', record_id=r[2]) }}">Edit</a></td>
            <td><a class="btn btn-success" href="{{ url_for('app_cancel', appointment_id=r[0]) }}"
            onclick="return confirm('Are you sure you want to cancel?')">Cancel</a></td>
        {% endif %}



        </tr>
    {% endfor %}

</table>

</body>
</html>