<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>this is register</h1>
<form action="/register" method="post">
    <input type="text" placeholder="name" name="name" required>
    <input type="email" placeholder="email" name="email" required>
    <input type="date" name="birthday" required>
    <select name="sex" required>
        <option value="male">male</option>
        <option value="female">female</option>
    </select>
    <textarea name="allergy" rows="10" cols="50" placeholder="Enter your allergies"></textarea>
    <button type="submit">Register</button>
</form>


</body>
</html>