<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select_Appointment</title>
</head>
<body>
<div id="container">
    <div id="btn_menu">
        <button><a href="{{ url_for('pre_app') }}">Make an Appointment</a></button>
        <button><a href="{{ url_for('pre_app') }}">Change Appointment</a></button>
        <button><a href="{{ url_for('pre_app') }}">Cancel Appointment</a></button>
    </div>

    <div id="clinic_info_container">

    </div>
</div>


</body>
</html>