<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pre_Password_Edit</title>
    <link rel="stylesheet" href="/static/staff_common.css">
    <link rel="stylesheet" href="/static/staff_password_edit.css">
    <script src="https://kit.fontawesome.com/82dcdbf5f6.js" crossorigin="anonymous"></script>

</head>
<body>
<div id="container">
    <header>
            <div>
                <span>U. Pediatrics Clinic<br>Staff page</span>
            </div>
            <div>
                <p>Username: </p>
            </div>
        </header>

    <div class="body_container">
        <form method="post">
            <label for="name">Username</label>
            <input type="text" placeholder="name" name="name" required>
            <label for="psw">Password</label>
            <div class="psw_container">
                <input type="password" placeholder="Password" name="psw" required>
                <i class="fa-solid fa-eye" id="eye"></i>
            </div>
        {% if psw_err %}
            <p>password needs to be at least 8 characters</p>
        {% endif %}
        <label for="psw_conf">Password Confirmation</label>
        <div class="psw_container">
            <input type="password" placeholder="Password confirmation" name="psw_conf" required>
            <i class="fa-solid fa-eye" id="eye2"></i>
        </div>
        {% if psw_cnf_err %}
            <p>please check the password again</p>
        {% endif %}
            <button class="container_btn" id="register_btn" type="submit">Register</button>
        </form>
    </div>

</div>

<script src="/static/js/register.js"></script>
</body>
</html>